/* Estilos generales */
html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background: #0542A6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* ----Barra de navegación---- */

/*Letras en el nav*/
.navbar-brand,
.nav-link {
    color: #0542A6;
    /*color de pagina primaria original-hacer variable*/
    font-weight: bold;
}



/* La seccion seleccionada en nav sera naranja */
.nav-item .nav-link.active {
    color: #f77308;
    font-weight: bold;
    /* font-size: 0.25rem; */
    text-shadow: 2px 2px 5px rgba(5, 66, 166, 0.5);
}

/* Tarjetas de recetas */
.card {
    background-color: rgba(236, 239, 248, 0.623);
    border: 3px solid #f77308;
    border-radius: 7px;
    box-shadow: 3px 6px 15px rgba(0, 0, 139, 0.582),
        inset 0 0 10px rgba(192, 192, 192, 0.5);
    /* Líneas plateadas internas desde los bordes */
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    padding: 0px;
    max-width: 300px;
    margin: 0px;
}

.card:hover {
    background-color: rgba(255, 165, 0, 1);
    transform: scale(1.02);
    box-shadow: 5px 10px 20px rgba(0, 0, 139, 0.8),
        inset 0 0 35px rgba(192, 192, 192, 0.8);
    /* Líneas plateadas más brillantes desde los bordes*/
}

.card-title {
    color: #021427;
    font-size: 2rem;
}

.card-text {
    color: rgba(8, 2, 65, 0.644);
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* Modal */
.modal-content {
    background-color: #ffffff;
    border: 1px solid #d1d9e6;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.modal-header {
    border-bottom: 2px solid #00aaff;
}

.modal-title {
    color: #003366;
}

.modal-body h6 {
    color: #003366;
}

.modal-body ul {
    list-style: none;
    padding-left: 0;
}

.modal-body ul li {
    padding: 4px 0;
    color: #666;
}

/* Footer */
footer div {
    background-color: #91b5d8;
    color: #db0a0a;
    width: 100%;
    padding: 20px 0;
    margin-top: auto;
    /* Empuja el footer al fondo */
    text-align: center;
}

footer p {
    margin: 0;
    color: #021e47;
}

footer a {
    color: #013b75;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}